* {
	/* font-family: 'Poppins', sans-serif; */
}

body {
	background-color: rgb(54, 54, 54) !important;
	color: #fff !important;
}

.main {
	height: 100vh;
}

@keyframes scaleSize {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(1);
	}
}

.digit {
	animation: scaleSize 1s infinite;
}
