@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
	font-family: 'Poppins', sans-serif;
}

body {
	background-color: #393E46 !important;
	color: #EEEEEE !important;
}

.main {
	height: 100vh;
}

@keyframes scaleSize {
	0% {
		transform: scale(1);
	}

	85% {
		transform: scale(1.5);
	}

	100% {
		transform: scale(1);
	}
}

.digit {
	animation: scaleSize 1.5s infinite;
}

.digit-green {
	color: #00ADB5;
}

.digit-red {
	color: #fa687e;
}